In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Covid Symptoms Dataset

In [2]:
covid_ds = pd.read_csv(r"C:\Users\phuon\OneDrive\Desktop\Medi_safety\Covid_data.csv")

In [3]:
covid_ds['CLASIFFICATION_FINAL'] = covid_ds['CLASIFFICATION_FINAL'].replace(to_replace=[4,5,6,7], value=0)
covid_ds['CLASIFFICATION_FINAL'] = covid_ds['CLASIFFICATION_FINAL'].replace(to_replace=[1,2,3], value=1)

In [4]:
covid_ds.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,1,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,0,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,1,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,0,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,1,97

In [5]:
covid_ds.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00,2.260569e+00,2.242626e+00,2.298132e+00,2.128989e+00,2.435143e+00,2.261810e+00,2.125176e+00,2.257180e+00,2.214333e+00,3.738207e-01,7.955397e+01
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00,5.132258e+00,5.114089e+00,5.462843e+00,5.236397e+00,6.646676e+00,5.194850e+00,5.175445e+00,5.135354e+00,5.323097e+00,4.838171e-01,3.682307e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,9.700000e+01
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,1.000000e+00,9.900000e+01

In [6]:
covid_ds['CLASIFFICATION_FINAL'].value_counts()

0    656596
1    391979
Name: CLASIFFICATION_FINAL, dtype: int64

In [7]:
covid_ds.groupby('CLASIFFICATION_FINAL').mean()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
CLASIFFICATION_FINAL,,,,,,,,,,,,,,,,,,,
0,1.636693,9.149284,1.478258,1.135150,85.004150,4.281321,39.768477,47.772940,2.181745,2.233491,2.211942,2.271526,2.119912,2.397873,2.227685,2.112919,2.225442,2.176405,85.032496
1,1.624658,8.697948,1.534439,1.283923,70.341304,1.781486,45.187186,53.103424,2.194209,2.305927,2.294026,2.342699,2.144194,2.497573,2.318971,2.145707,2.310343,2.277864,70.377013

In [8]:
X = covid_ds.drop(columns='CLASIFFICATION_FINAL', axis=1)
Y = covid_ds['CLASIFFICATION_FINAL']

In [9]:
X.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97

In [10]:
Y

0          1
1          0
2          1
3          0
4          1
          ..
1048570    0
1048571    0
1048572    0
1048573    0
1048574    0
Name: CLASIFFICATION_FINAL, Length: 1048575, dtype: int64

Train Test Split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

Training the Model

In [13]:
classifier = svm.SVC(kernel='linear')

In [ ]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

Model Evaluation

Accuracy Score

In [ ]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

In [ ]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score of the test data : ', test_data_accuracy)

Making a Predictive System

In [ ]:
input_data = (2, 1, 1, 1, 97, 1, 65, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 97)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('The person is not positive to Covid')
else:
    print('The person is positive to Covid')

In [ ]:
import pickle

In [ ]:
filename = 'Covid_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [ ]:
# loading the saved model
loaded_model = pickle.load(open('Covid_model.sav', 'rb'))

In [ ]:
input_data = (2, 1, 1, 1, 97, 1, 65, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 97)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('The person is not positive to Covid')
else:
    print('The person is positive to Covid')

In [ ]:
for column in X.columns:
    print(column)